@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@config '../../tailwind.config.ts';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --radius: 0.5rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  --color-bg-base: oklch(100% 0 0);
  --color-bg-base-hover: oklch(96.74% 0.0013 286.38);
  --color-bg-base-pressed: oklch(91.97% 0.004 286.32);
  --color-bg-component: oklch(98.51% 0 0);
  --color-bg-component-hover: oklch(96.74% 0.0013 286.38);
  --color-bg-component-pressed: oklch(91.97% 0.004 286.32);
  --color-bg-disabled: oklch(96.74% 0.0013 286.38);
  --color-bg-field: oklch(98.51% 0 0);
  --color-bg-field-component: oklch(100% 0 0);
  --color-bg-field-component-hover: oklch(98.51% 0 0);
  --color-bg-field-hover: oklch(96.74% 0.0013 286.38);
  --color-bg-highlight: oklch(97.05% 0.0142 254.6);
  --color-bg-highlight-hover: oklch(93.19% 0.0316 255.59);
  --color-bg-interactive: oklch(62.31% 0.188 259.81);
  --color-bg-overlay: oklch(21.03% 0.0059 285.89 / 40%);
  --color-bg-subtle: oklch(98.51% 0 0);
  --color-bg-subtle-hover: oklch(96.74% 0.0013 286.38);
  --color-bg-subtle-pressed: oklch(91.97% 0.004 286.32);
  --color-bg-switch-off: oklch(91.97% 0.004 286.32);
  --color-bg-switch-off-hover: oklch(87.11% 0.0055 286.29);

  --color-fg-base: oklch(21.03% 0.0059 285.89);
  --color-fg-disabled: oklch(71.18% 0.0129 286.07);
  --color-fg-error: oklch(58.58% 0.222 17.58);
  --color-fg-interactive: oklch(62.31% 0.188 259.81);
  --color-fg-interactive-hover: oklch(54.61% 0.2152 262.88);
  --color-fg-muted: oklch(55.17% 0.0138 285.94);
  --color-fg-on-color: oklch(100% 0 0);
  --color-fg-on-inverted: oklch(100% 0 0);
  --color-fg-subtle: oklch(44.19% 0.0146 285.79);

  --color-border-base: oklch(91.97% 0.004 286.32);
  --color-border-danger: oklch(51.43% 0.1978 16.93);
  --color-border-error: oklch(58.58% 0.222 17.58);
  --color-border-interactive: oklch(62.31% 0.188 259.81);
  --color-border-menu-bot: oklch(100% 0 0);
  --color-border-menu-top: oklch(91.97% 0.004 286.32);
  --color-border-strong: oklch(87.11% 0.0055 286.29);
  --color-border-transparent: oklch(100% 0 0 / 0%);

  --color-button-danger: oklch(58.58% 0.222 17.58);
  --color-button-danger-hover: oklch(51.43% 0.1978 16.93);
  --color-button-danger-pressed: oklch(45.46% 0.1713 13.7);
  --color-button-inverted: oklch(27.39% 0.0055 286.03);
  --color-button-inverted-hover: oklch(37.03% 0.0119 285.81);
  --color-button-inverted-pressed: oklch(44.19% 0.0146 285.79);
  --color-button-neutral: oklch(100% 0 0);
  --color-button-neutral-hover: oklch(96.74% 0.0013 286.38);
  --color-button-neutral-pressed: oklch(91.97% 0.004 286.32);
  --color-button-transparent: oklch(100% 0 0 / 0%);
  --color-button-transparent-hover: oklch(96.74% 0.0013 286.38);
  --color-button-transparent-pressed: oklch(91.97% 0.004 286.32);

  --color-tag-blue-bg: oklch(93.19% 0.0316 255.59);
  --color-tag-blue-bg-hover: oklch(88.23% 0.0571 254.13);
  --color-tag-blue-border: oklch(88.23% 0.0571 254.13);
  --color-tag-blue-icon: oklch(71.37% 0.1434 254.62);
  --color-tag-blue-text: oklch(42.44% 0.1809 265.64);
  --color-tag-green-bg: oklch(95.05% 0.0507 163.05);
  --color-tag-green-bg-hover: oklch(90.49% 0.0895 164.15);
  --color-tag-green-border: oklch(90.49% 0.0895 164.15);
  --color-tag-green-icon: oklch(69.59% 0.1491 162.48);
  --color-tag-green-text: oklch(43.18% 0.0865 166.91);
  --color-tag-neutral-bg: oklch(96.74% 0.0013 286.38);
  --color-tag-neutral-bg-hover: oklch(91.97% 0.004 286.32);
  --color-tag-neutral-border: oklch(91.97% 0.004 286.32);
  --color-tag-neutral-icon: oklch(71.18% 0.0129 286.07);
  --color-tag-neutral-text: oklch(44.19% 0.0146 285.79);
  --color-tag-orange-bg: oklch(95.42% 0.0372 75.16);
  --color-tag-orange-bg-hover: oklch(90.15% 0.0729 70.7);
  --color-tag-orange-border: oklch(90.15% 0.0729 70.7);
  --color-tag-orange-icon: oklch(70.49% 0.1867 47.6);
  --color-tag-orange-text: oklch(46.98% 0.143 37.3);
  --color-tag-purple-bg: oklch(94.33% 0.0284 294.59);
  --color-tag-purple-bg-hover: oklch(89.43% 0.0549 293.28);
  --color-tag-purple-border: oklch(89.43% 0.0549 293.28);
  --color-tag-purple-icon: oklch(70.9% 0.1592 293.54);
  --color-tag-purple-text: oklch(43.2% 0.2106 292.76);
  --color-tag-red-bg: oklch(94.14% 0.0298 12.58);
  --color-tag-red-bg-hover: oklch(89.24% 0.0559 10);
  --color-tag-red-border: oklch(89.24% 0.0559 10);
  --color-tag-red-icon: oklch(64.5% 0.2154 16.44);
  --color-tag-red-text: oklch(45.46% 0.1713 13.7);

  --color-contrast-bg-base: oklch(21.03% 0.0059 285.89);
  --color-contrast-bg-base-pressed: oklch(37.03% 0.0119 285.81);
  --color-contrast-bg-base-hover: oklch(27.39% 0.0055 286.03);
  --color-contrast-bg-subtle: oklch(27.39% 0.0055 286.03);
  --color-contrast-fg-primary: oklch(100% 0 0 / 88%);
  --color-contrast-fg-secondary: oklch(100% 0 0 / 56%);
  --color-contrast-border-bot: oklch(100% 0 0 / 10%);
  --color-contrast-border-base: oklch(100% 0 0 / 15%);
  --color-contrast-border-top: oklch(21.03% 0.0059 285.89);

  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.05% 0.0044 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.05% 0.0044 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.05% 0.0044 285.82);
  --color-primary: oklch(21.03% 0.0059 285.88);
  --color-primary-foreground: oklch(98.48% 0 0);
  --color-secondary: oklch(96.83% 0.0014 286.37);
  --color-secondary-foreground: oklch(21.03% 0.0059 285.88);
  --color-muted: oklch(96.83% 0.0014 286.37);
  --color-muted-foreground: 240 3.8% 46.1%;
  --color-accent: oklch(96.83% 0.0014 286.37);
  --color-accent-foreground: oklch(21.03% 0.0059 285.88);
  --color-destructive: oklch(63.68% 0.2078 25.33);
  --color-destructive-foreground: oklch(98.48% 0 0);
  --color-border: oklch(91.97% 0.004 286.32);
  --color-input: oklch(91.97% 0.004 286.32);
  --color-ring: oklch(14.05% 0.0044 285.82);
  --color-chart-1: oklch(67.72% 0.1571 35.19);
  --color-chart-2: oklch(63.09% 0.1013 183.49);
  --color-chart-3: oklch(37.87% 0.044 225.54);
  --color-chart-4: oklch(83.36% 0.1186 88.15);
  --color-chart-5: oklch(78.34% 0.1261 58.75);
  --color-sidebar-background: oklch(98.48% 0 0);
  --color-sidebar-foreground: 240 5.3% 26.1%;
  --color-sidebar-primary: oklch(21.03% 0.0059 285.88);
  --color-sidebar-primary-foreground: oklch(98.48% 0 0);
  --color-sidebar-accent: oklch(96.83% 0.0014 286.37);
  --color-sidebar-accent-foreground: oklch(21.03% 0.0059 285.88);
  --color-sidebar-border: oklch(92.78% 0.0058 264.53);
  --color-sidebar-ring: oklch(62.32% 0.1879 259.8);
}

&:where(.dark, .dark *) {
  --color-bg-base: oklch(24.9% 0.0056 285.99);
  --color-bg-base-hover: oklch(27.39% 0.0055 286.03);
  --color-bg-base-pressed: oklch(37.03% 0.0119 285.81);
  --color-bg-component: oklch(27.39% 0.0055 286.03);
  --color-bg-component-hover: oklch(100% 0 0 / 10%);
  --color-bg-component-pressed: oklch(100% 0 0 / 16%);
  --color-bg-disabled: oklch(27.39% 0.0055 286.03);
  --color-bg-field: oklch(100% 0 0 / 4%);
  --color-bg-field-component: oklch(24.9% 0.0056 285.99);
  --color-bg-field-component-hover: oklch(27.39% 0.0055 286.03);
  --color-bg-field-hover: oklch(100% 0 0 / 8%);
  --color-bg-highlight: oklch(28.23% 0.0874 267.94);
  --color-bg-highlight-hover: oklch(37.91% 0.1378 265.52);
  --color-bg-interactive: oklch(71.37% 0.1434 254.62);
  --color-bg-overlay: oklch(21.03% 0.0059 285.89 / 72%);
  --color-bg-subtle: oklch(21.03% 0.0059 285.89);
  --color-bg-subtle-hover: oklch(24.9% 0.0056 285.99);
  --color-bg-subtle-pressed: oklch(27.39% 0.0055 286.03);
  --color-bg-switch-off: oklch(37.03% 0.0119 285.81);
  --color-bg-switch-off-hover: oklch(44.19% 0.0146 285.79);

  --color-fg-base: oklch(96.74% 0.0013 286.38);
  --color-fg-disabled: oklch(44.19% 0.0146 285.79);
  --color-fg-error: oklch(71.92% 0.169 13.43);
  --color-fg-interactive: oklch(71.37% 0.1434 254.62);
  --color-fg-interactive-hover: oklch(80.91% 0.0956 251.81);
  --color-fg-muted: oklch(55.17% 0.0138 285.94);
  --color-fg-on-color: oklch(100% 0 0);
  --color-fg-on-inverted: oklch(21.03% 0.0059 285.89);
  --color-fg-subtle: oklch(71.18% 0.0129 286.07);

  --color-border-base: oklch(100% 0 0 / 8%);
  --color-border-danger: oklch(51.43% 0.1978 16.93);
  --color-border-error: oklch(71.92% 0.169 13.43);
  --color-border-interactive: oklch(71.37% 0.1434 254.62);
  --color-border-menu-bot: oklch(100% 0 0 / 8%);
  --color-border-menu-top: oklch(24.9% 0.0056 285.99);
  --color-border-strong: oklch(100% 0 0 / 16%);
  --color-border-transparent: oklch(100% 0 0 / 0%);

  --color-button-danger: oklch(45.46% 0.1713 13.7);
  --color-button-danger-hover: oklch(51.43% 0.1978 16.93);
  --color-button-danger-pressed: oklch(58.58% 0.222 17.58);
  --color-button-inverted: oklch(44.19% 0.0146 285.79);
  --color-button-inverted-hover: oklch(55.17% 0.0138 285.94);
  --color-button-inverted-pressed: oklch(71.18% 0.0129 286.07);
  --color-button-neutral: oklch(100% 0 0 / 4%);
  --color-button-neutral-hover: oklch(100% 0 0 / 8%);
  --color-button-neutral-pressed: oklch(100% 0 0 / 12%);
  --color-button-transparent: oklch(100% 0 0 / 0%);
  --color-button-transparent-hover: oklch(100% 0 0 / 8%);
  --color-button-transparent-pressed: oklch(100% 0 0 / 12%);

  --color-tag-blue-bg: oklch(28.23% 0.0874 267.94);
  --color-tag-blue-bg-hover: oklch(37.91% 0.1378 265.52);
  --color-tag-blue-border: oklch(37.91% 0.1378 265.52);
  --color-tag-blue-icon: oklch(71.37% 0.1434 254.62);
  --color-tag-blue-text: oklch(80.91% 0.0956 251.81);
  --color-tag-green-bg: oklch(26.21% 0.0487 172.55);
  --color-tag-green-bg-hover: oklch(37.8% 0.073 168.94);
  --color-tag-green-border: oklch(37.8% 0.073 168.94);
  --color-tag-green-icon: oklch(69.59% 0.1491 162.48);
  --color-tag-green-text: oklch(77.29% 0.1535 163.22);
  --color-tag-neutral-bg: oklch(100% 0 0 / 8%);
  --color-tag-neutral-bg-hover: oklch(100% 0 0 / 12%);
  --color-tag-neutral-border: oklch(100% 0 0 / 6%);
  --color-tag-neutral-icon: oklch(55.17% 0.0138 285.94);
  --color-tag-neutral-text: oklch(87.11% 0.0055 286.29);
  --color-tag-orange-bg: oklch(26.59% 0.0762 36.26);
  --color-tag-orange-bg-hover: oklch(40.84% 0.1165 38.17);
  --color-tag-orange-border: oklch(40.84% 0.1165 38.17);
  --color-tag-orange-icon: oklch(75.76% 0.159 55.93);
  --color-tag-orange-text: oklch(83.66% 0.1165 66.29);
  --color-tag-purple-bg: oklch(28.27% 0.1351 291.09);
  --color-tag-purple-bg-hover: oklch(43.2% 0.2106 292.76);
  --color-tag-purple-border: oklch(43.2% 0.2106 292.76);
  --color-tag-purple-icon: oklch(70.9% 0.1592 293.54);
  --color-tag-purple-text: oklch(81.12% 0.1013 293.57);
  --color-tag-red-bg: oklch(27.08% 0.1009 12.09);
  --color-tag-red-bg-hover: oklch(41.03% 0.1502 10.27);
  --color-tag-red-border: oklch(41.03% 0.1502 10.27);
  --color-tag-red-icon: oklch(71.92% 0.169 13.43);
  --color-tag-red-text: oklch(80.97% 0.1061 11.64);

  --color-contrast-bg-base: oklch(27.39% 0.0055 286.03);
  --color-contrast-bg-base-pressed: oklch(44.19% 0.0146 285.79);
  --color-contrast-bg-base-hover: oklch(37.03% 0.0119 285.81);
  --color-contrast-bg-subtle: oklch(100% 0 0 / 4%);
  --color-contrast-fg-primary: oklch(100% 0 0 / 88%);
  --color-contrast-fg-secondary: oklch(100% 0 0 / 56%);
  --color-contrast-border-bot: oklch(100% 0 0 / 8%);
  --color-contrast-border-base: oklch(100% 0 0 / 16%);
  --color-contrast-border-top: oklch(24.9% 0.0056 285.99);

  --color-background: oklch(14.05% 0.0044 285.82);
  --color-foreground: oklch(98.48% 0 0);
  --color-card: oklch(14.05% 0.0044 285.82);
  --color-card-foreground: oklch(98.48% 0 0);
  --color-popover: oklch(14.05% 0.0044 285.82);
  --color-popover-foreground: oklch(98.48% 0 0);
  --color-primary: oklch(98.48% 0 0);
  --color-primary-foreground: oklch(21.03% 0.0059 285.88);
  --color-secondary: oklch(27.41% 0.0055 286.03);
  --color-secondary-foreground: oklch(98.48% 0 0);
  --color-muted: oklch(27.41% 0.0055 286.03);
  --color-muted-foreground: oklch(71.19% 0.0129 286.07);
  --color-accent: oklch(27.41% 0.0055 286.03);
  --color-accent-foreground: oklch(98.48% 0 0);
  --color-destructive: oklch(39.59% 0.1331 25.72);
  --color-destructive-foreground: oklch(98.48% 0 0);
  --color-border: oklch(27.41% 0.0055 286.03);
  --color-input: oklch(27.41% 0.0055 286.03);
  --color-ring: oklch(87.09% 0.0055 286.29);
  --color-chart-1: oklch(52.92% 0.1931 262.13);
  --color-chart-2: oklch(69.83% 0.1337 165.46);
  --color-chart-3: oklch(72.32% 0.15 60.63);
  --color-chart-4: oklch(61.92% 0.2037 312.73);
  --color-chart-5: oklch(61.23% 0.2093 6.39);
  --color-sidebar-background: oklch(21.03% 0.0059 285.88);
  --color-sidebar-foreground: oklch(96.83% 0.0014 286.37);
  --color-sidebar-primary: oklch(48.78% 0.217 264.39);
  --color-sidebar-primary-foreground: oklch(100% 0 0)
  --color-sidebar-accent: oklch(27.41% 0.0055 286.03);
  --color-sidebar-accent-foreground: oklch(96.83% 0.0014 286.37);
  --color-sidebar-border: oklch(27.41% 0.0055 286.03);
  --color-sidebar-ring: oklch(62.32% 0.1879 259.8);
}

@layer base {
  html,
  body,
  #__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    scroll-behavior: smooth;
    font-synthesis: none;
    border-color: var(--color-border);
    color: var(--color-foreground);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button:not(:disabled),
  [role=button]:not(:disabled) {
    cursor: pointer;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-rehype-pretty-code-fragment] {
  @apply relative text-white;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  @apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply text-zinc-50/40 text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-zinc-700/50;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-zinc-700/50 border-zinc-700/70 p-1;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
  @apply bg-zinc-900;
}

[data-rehype-pretty-code-title] {
  @apply mt-2 pt-6 px-4 text-sm font-medium text-foreground;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-2;
}
