@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@config '../../tailwind.config.ts';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --radius: 0.6rem;
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  --color-border: oklch(0.9197 0.004 286.32);
  --color-foreground: oklch(21.34% 0 0);
  --color-background: oklch(100% 0 0);
}

&:where(.dark, .dark *) {
  --color-border: oklch(1 0 0 / 8%);
  --color-foreground: oklch(100% 0 0);
  --color-background: oklch(21.34% 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-inter: var(--font-inter), ui-sans-serif, system-ui;

  --color-border: var(--color-border);
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
}

@layer base {
  html,
  body,
  #__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    scroll-behavior: smooth;
    font-synthesis: none;
    color: var(--color-foreground);
    border-color: var(--color-border);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* minimal scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
